NODE_ENV=development
PORT=5092
MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster0.example.mongodb.net/perfume-store
MONGODB_DB_NAME=perfume-store

# JWT / Security Tokens
ACCESS_TOKEN_SECRET=your_jwt_access_token_secret_key_at_least_20_chars
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_MS=2592000000

# White-Label Domain Routing & CORS Setup (Comma-separated lists)
ALLOWED_ORIGINS=http://localhost:8001,http://localhost:8005,http://localhost:3000
FRONTEND_DOMAIN_KEYWORDS=localhost,decantrebd.com
DASHBOARD_DOMAIN_KEYWORDS=dashboard,localhost:8005

